<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user-mapper">

	<select id="selectUser" parameterType="com.eduDashboardProject.common.vo.UserVO" resultType="int">
		SELECT USER_NUM
	 	  FROM User_sh
	 	 WHERE USER_ID = #{id}
	 	   AND PASSWORD = #{password}
	</select>
	
	<insert id="insertUserHistory" parameterType="hashMap">
		INSERT INTO User_history (USER_NUM, COMMENT, CREATE_DATE)
		VALUES (#{user_number}, #{comment}, DATE_FORMAT(SYSDATE(), '%Y-%m-%d %T'))
	</insert>
</mapper>