<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board-mapper">

	<resultMap id="boardDTO" type="com.eduDashboardProject.board.dto.BoardDTO">
		<result property="board_number" column="BOARD_NUM"></result>
		<result property="user_number" column="USER_NUM"></result>
		<result property="id" column="USER_ID"></result>
		<result property="title" column="TITLE"></result>
		<result property="content" column="CONTENT"></result>
		<result property="create_date" column="CREATE_DATE"></result>
	</resultMap>
	
	<select id="selectList" resultMap="boardDTO">
		SELECT 
			CAST(BOARD_NUM AS CHAR) as BOARD_NUM
		  ,	USER_ID
	      , TITLE
	      , DATE_FORMAT(CREATE_DATE, '%Y-%m-%d') as CREATE_DATE
		  FROM Board_sh
	</select>
	
	<select id="getDetail" parameterType="int" resultMap="boardDTO">
		SELECT
		    CAST(BOARD_NUM AS CHAR) as BOARD_NUM
		  , USER_NUM
	      ,	USER_ID
	      , TITLE
	      , CONTENT 
	      , DATE_FORMAT(CREATE_DATE, '%Y-%m-%d') as CREATE_DATE
		  FROM Board_sh 
		 WHERE BOARD_NUM = #{board_number}
	</select>
	
	<insert id="insertBoard" parameterType="com.eduDashboardProject.board.dto.BoardDTO">
		INSERT INTO Board_sh (USER_NUM, TITLE, USER_ID, CONTENT, CREATE_DATE, UPDATE_DATE)
		VALUES (#{user_number}, #{title}, #{id}, #{content}, SYSDATE(), SYSDATE())
	</insert>
	
	<update id="modifyBoard" parameterType="com.eduDashboardProject.board.dto.BoardDTO">
		UPDATE Board_sh
		   SET title = #{title}
		   	 , CONTENT = #{content}
		   	 , UPDATE_DATE = SYSDATE()
		 WHERE CAST(BOARD_NUM AS CHAR) = #{board_number}
	</update>
	
	<delete id="deleteBoard" parameterType="String">
		DELETE FROM Board_sh
		 WHERE CAST(BOARD_NUM AS CHAR) = #{board_number} 
	</delete>

</mapper>