<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board-mapper">

	<resultMap id="boardDTO" type="com.eduDashboardProject.board.dto.BoardDTO">
		<result property="board_number" column="BOARD_NUM"></result>
		<result property="user_number" column="USER_NUM"></result>
		<result property="id" column="USER_ID"></result>
		<result property="title" column="TITLE"></result>
		<result property="content" column="CONTENT"></result>
		<result property="create_date" column="CREATE_DATE"></result>
	</resultMap>
	
	<select id="selectList" resultMap="boardDTO">
		SELECT 
			CAST(BOARD_NUM AS CHAR) AS BOARD_NUM
		  ,	USER_ID
	      , TITLE
	      , DATE_FORMAT(CREATE_DATE, '%Y-%m-%d') as CREATE_DATE
		  FROM Board_sh
	</select>
	
	<select id="selectDetail" parameterType="String" resultMap="boardDTO">
		SELECT
		    CAST(BOARD_NUM AS CHAR) AS BOARD_NUM
		  , CAST(USER_NUM AS CHAR) AS USER_NUM
	      ,	USER_ID
	      , TITLE
	      , CONTENT 
	      , DATE_FORMAT(CREATE_DATE, '%Y-%m-%d') as CREATE_DATE
		  FROM Board_sh 
		 WHERE BOARD_NUM = #{board_number}
	</select>
	
	<insert id="insertBoard" parameterType="com.eduDashboardProject.board.dto.BoardDTO">
	<selectKey keyProperty="board_number" resultType="String" order="AFTER" >
		SELECT CAST(MAX(BOARD_NUM) AS CHAR) FROM Board_sh
	</selectKey>
		INSERT INTO Board_sh ( USER_NUM, TITLE, USER_ID, CONTENT, CREATE_DATE, UPDATE_DATE )  /* insertBoard */
		VALUES (
				#{user_number}
			  , #{title}
			  , #{id}
			  , #{content}
			  , DATE_FORMAT(SYSDATE(), '%Y-%m-%d %T')
			  , DATE_FORMAT(SYSDATE(), '%Y-%m-%d %T')
			  )
	</insert>
	
	<update id="modifyBoard" parameterType="com.eduDashboardProject.board.dto.BoardDTO">
		UPDATE Board_sh /* modifyBoard */
		   SET title = #{title}
		   	 , CONTENT = #{content}
		   	 , UPDATE_DATE = DATE_FORMAT(SYSDATE(), '%Y-%m-%d %T')
		 WHERE BOARD_NUM = #{board_number}
	</update>
	
	<delete id="deleteBoard" parameterType="String">
		DELETE FROM Board_sh /* deleteBoard */
		 WHERE BOARD_NUM = #{board_number} 
	</delete>
	
	<insert id="insertBoardHistory" parameterType="com.eduDashboardProject.admin.dto.BoardHistoryDTO">
		INSERT INTO Board_history /* insertBoardHistory */ 
			( BOARD_NUM, USER_NUM, COMMENT, CREATE_DATE )
		VALUES (
				#{board_number}
			  , #{user_number}
			  , #{comment}
			  , DATE_FORMAT(SYSDATE(), '%Y-%m-%d %T')
			  )
	</insert>
</mapper>